* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none !important;
   /* border: 1px solid red; */
}

#header {
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url(../bootsrap-image-2/hero-bg.jpg);
   background-size: cover;
   background-position: center;
   height: auto;
   padding: 20px 90px;
   margin: auto;

}

.navbar-nav {
   margin: auto;
}

.navbar-brand {
   color: #fff;
   font-size: 30px !important;
   font-weight: 300;
}

.nav-item {
   margin-left: 10px;
}

.nav-link {
   color: #fff;
}

.nav-link:hover {
   color: #ffc107;
}

.navbar-toggler-icon i {
   color: #fff;
   color: 30px;
   font-size: 35px;
}

.header-btn {
   margin: auto;
}

.header-btn a button {
   font-size: 14px;
   background-color: #212529;
   color: #fff;
   padding: 5px 15px;
   border: 1px solid #ffc107;
   border-radius: 50px;
   margin-left: 30px;
}

.header-btn a button:hover {
   color: #fff;
   background-color: #cda45e;
}

.head-content {
   padding-top: 120px;
   text-align: center;
   justify-content: center;
   padding-bottom: 150px;
}

.head-text h1 {
   font-size: 3rem !important;
   font-weight: 700;
   color: #fff;
}

.head-text h1 span {
   color: #cda45e;
}

.banner-text {

   text-align: left;

}

.head-text h3 {
   font-size: 22px;
   color: #eee;
   margin-top: 10px;
}

.ban-btn {
   padding-top: 20px;

}

.ban-btn a button {
   padding: 10px 20px !important;
   border-radius: 50px;
   background-color: transparent;
   color: #fff;
   border: 2px solid #cda45e;
   font-weight: 700;
   font-size: 17px;
   margin: 20px 20px;
}

.ban-btn a button:hover {
   background-color: #cda45e;
}

.head-icon i {
   color: #cda45e;
   font-size: 80px !important;
   padding-top: 60px;
}

#about {
   width: 100%;
   height: auto;
   background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(19, 18, 18, 0.253)), url(../bootsrap-image-2/about-bg.jpg);
   background-size: cover;
   background-position: center;
   padding: 20px 90px;
}

.about-content {
   padding-bottom: 30px;
}

.about-text {
   margin-top: 70px;
   color: #fff;
}

.about-text h4 {
   font-size: 26px;
   font-weight: 600;
}

.about-text p {
   font-size: 1rem;
   font-style: italic;
}

.about-text ul li {
   font-size: 18px;
   margin-top: 10px
}

.about-text ul li i {
   color: #cda45e;
   font-size: 20px;
   margin-right: 10px
}

.about-image {
   width: 100%;
   height: 100%;
   margin-top: 70px;

   overflow: hidden;
}

.about-image img {
   width: 90%;
   height: 70vh;
   border: 4px solid rgba(255, 255, 255, 0.2);
   transition: .3s;
}

.about-image:hover img {
   transform: scale(1.1);
   overflow: hidden;
}

#why-us {
   width: 100%;
   height: auto;
   background-color: #0e0b0a;
   padding: 20px 90px;
}

.why-title {
   padding-top: 60px;
}

.why-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.why-title p {
   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.why-content {
   padding-top: 40px;
   padding-bottom: 30px;
}

.why-box {
   background-color: #24221f;
   height: auto;
   margin: auto;
}

.why-text {
   color: #fff;
   padding: 10px 20px;
}

.why-text span {
   font-size: 25px;
   font-weight: 700;
}

.why-text h4 {
   margin-top: 10px;
   font-size: 24px;
   font-weight: 600;
}

.why-text p {
   margin-top: 10px;
   font-size: 15px;
   color: #fff;
}

.why-text:hover {
   background-color: #cda45e;
}

#menu {
   width: 100%;
   height: auto;
   background-color: #24221f;
   padding: 20px 90px;
}

.menu-title {
   padding-top: 60px;
}

.menu-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.menu-title p {
   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.menu-bar ul {
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu-bar ul li {
   color: #fff;
   margin-left: 20px;
   font-weight: 700;
   cursor: pointer;
}

.menu-bar ul li:hover {
   color: #cda45e;
}

.all {
   color: #cda45e;
   font-weight: 700;
   cursor: pointer;
}

.food-items {

   padding-bottom: 30px;
}

.menu-content {
   margin-top: 40px;
}

.men-img img {
   width: 80px;
   border-radius: 50px;
}

.men-text h4 a {
   color: #fff;
   font-weight: 600;
   font-size: 18px !important;
  
}



.men-text h4 a:hover {
   color: #cda45e;
}
.men-text h4{
   color: #fff;
   font-size: 18px;
   margin-top: 20px;
}
.men {
   margin-top: 20px;
}

.men-ingredients h5 {
   font-style: italic;
   color: #aaaaaa;
   font-size: 14px !important;
}

.men-price {
   color: #c9a361;
   margin-top: 20px;
}

.menu-text {
   color: #fff;

}

#specials {
   width: 100%;
   height: auto;
   background-color: #000000;
   padding: 20px 90px;
}

.special-title {
   padding-top: 60px;
}

.special-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.special-title p {

   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.special-content {
   padding-top: 30px;
   padding-bottom: 30px;

}

.spc {
   margin: auto;
}

.special-bar li {
   margin-top: 15px;
}

.special-bar li a {
   color: #fff;
}

.special-bar li a:hover {
   color: #cda45e;
}

.special-bar .abc a {
   padding: 10px 50px !important;
   background-color: #cda45e;
   color: #000;
}

.special-text {
   color: #fff;
   padding-top: 100px;
}

.special-text h2 {
   font-size: 26px !important;
   font-weight: 600;
   margin-bottom: 20px;
}

.special-text p {
   font-size: 1rem;
   font-style: italic;
   color: #aaaaaa;
}

.special-p {
   font-size: 1rem;
   color: #aaaaaa;
}


#events {
   width: 100%;
   height: auto;
   background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(19, 18, 18, 0.253)), url(../bootsrap-image-2/events-bg.jpg);
   background-size: cover;
   background-position: center;
   padding: 20px 90px;
}

.events-title {
   padding-top: 60px;
}

.events-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.events-title p {

   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.events-content {
   padding-top: 30px;
   padding-bottom: 30px;
}

.events-image {
   margin-top: 30px;
}

.info-text {
   color: #fff;
   margin-top: 20px;
}

.info-text h4 {
   font-size: 30px;
   font-weight: 600;
   color: #cda45e;
}

.price span {
   font-size: 30px;
   font-size: 700;
   border-bottom: 2px solid #cda45e;
}

.info-text p {
   font-style: italic;
   font-size: 19px;
   font-weight: 600;
}

.info-text ul li {
   margin-top: 10px;
   font-size: 19px;
   font-weight: 600;
}

#book {
   width: 100%;
   height: auto;
   background-color: #000000;
   padding: 20px 90px;
}

.book-title {
   padding-top: 60px;
}

.book-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.book-title p {
   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.book-content {
   padding-bottom: 50px;

}

.form {
   justify-content: center;
}

input[type=text] {
   margin-top: 30px;
   width: 100%;
   height: 40px;
   background: transparent;
   padding: 20px 20px;
}

input[class=Message] {
   height: 120px;

}

.book-btn {
   text-align: center;
   margin-top: 30px;
}

.book-btn button {
   padding: 10px 30px;
   border: none;
   background-color: #cda45e;
   color: #fff;
   border-radius: 50px;

}

.book-btn button:hover {
   background-color: #c9a361;
}

#testimonials {
   width: 100%;
   height: auto;
   background-color: #363430;
   padding: 20px 90px;
}

.testi-title {
   padding-top: 60px;
}

.testi-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.testi-title p {

   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.testi-content {
   padding-top: 30px;
   padding-bottom: 30px;

}

.testi-box {
   margin: auto;
   width: 300px;
   height: 40vh;
   background-color: #26231d;
   border-radius: 10px;

}

.testi-text {
   text-align: center;
}

.testi-text p {
   color: #fff;
   font-style: italic;
}

.testi-text p i {
   color: #cda45e;
   font-size: 20px;
}

.testi-img-box {
   position: relative;
}

.testi-img {
   width: 100%;
   height: auto;
   position: relative;
}

.testi-img img {
   position: absolute;
   width: 80px;
   border-radius: 50%;
   border: 6px solid rgba(255, 255, 255, 0.2);
   margin-left: 30px;
   bottom: 10px;
   left: 140px;
}

#gallery {
   width: 100%;
   height: auto;
   background-color: #000000;
   padding: 20px 90px;
}

.gallery-title {
   padding-top: 60px;
}

.gallery-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.gallery-title p {
   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.gallery-content {
   padding-top: 30px;
   padding-bottom: 30px;
}

.gallery-img-box {
   width: 100%;
   height: auto;
   margin-top: 50px;
   transition: all .9s;
   overflow: hidden;

}

.gallery-img-box img {
   width: 100%;
   object-fit: cover;
   aspect-ratio: 16/9;
}

.gallery-img-box:hover {
   transform: scale(1.1);

}

#chefs {
   width: 100%;
   height: auto;
   background-color: #000000;
   padding: 20px 90px;
}

.chefs-title {
   padding-top: 60px;
}

.chefs-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.chefs-title p {
   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.chefs-cont {
   padding-top: 40px;
   position: relative;
   padding-bottom: 30px;

}

.chefs-content img {
   display: block;
   width: 100%;
   height: auto;
}

.overlay {
   position: absolute;
   bottom: 0;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.5);
   /* Black see-through */
   color: #f1f1f1;
   width: 100%;
   transition: .5s ease;
   opacity: 0;
   color: white;
   font-size: 20px;
   padding: 20px;
   text-align: center;
}

.chefs-content:hover .overlay {
   opacity: 1;
}

.chef-social-content a {
   text-decoration: none;
}

.chef-social-content i {
   color: #fff;
   font-size: 25px;
   margin-left: 10px;
}

#contact {
   width: 100%;
   height: auto;
   background-color: #000000;
   border-bottom: 1px solid #cda45e;
   padding: 20px 90px;
}

.contact-title {
   padding-top: 60px;
}

.contact-title h2 {
   font-size: 14px;
   color: #aaaaaa;
   font-weight: 500;
}

.contact-title p {

   font-size: 36px;
   color: #cda45e;
   font-weight: 700;
}

.contact-content {
   padding-top: 60px;
   padding-bottom: ;
}

.contact-info {
   margin-top: 20px;
}

.contact-address {
   display: flex;
   gap: 20px;
   margin-top: 20px;
}

.contact-address i {
   padding: 10px 10px;
   font-size: 20px;
   color: #fff;
   background-color: #cda45e;
   border-radius: 50%;
}

.contact-address h4 {

   color: #fff;
   font-size: 20px;
   bottom: 26px;
   left: 65px;
}

.contact-address h5 {
   font-size: 16px;
   color: #bab3a6;

}

.contact-mail {
   display: flex;
   gap: 20px;
}

.contact-mail i {
   padding: 10px 10px;
   font-size: 20px;
   color: #fff;
   background-color: #cda45e;
   border-radius: 50%;
}

.contact-mail h4 {

   color: #fff;
   font-size: 20px;

}

.contact-mail h5 {
   font-size: 16px;
   color: #bab3a6;

}

.contact-time {
   display: flex;
   gap: 20px;
   margin-top: 20px;
}

.contact-time i {
   padding: 10px 10px;
   font-size: 20px;
   color: #fff;
   background-color: #cda45e;
   border-radius: 50%;
}

.contact-time h4 {
   color: #fff;
   font-size: 20px;

}

.contact-time h5 {
   font-size: 16px;
   color: #bab3a6;
}


.contact-phone {
   display: flex;
   gap: 20px;
   margin-top: 20px;
}

.contact-phone i {
   padding: 10px 10px;
   font-size: 20px;
   color: #fff;
   background-color: #cda45e;
   border-radius: 50%;
}

.contact-phone h4 {

   color: #fff;
   font-size: 20px;

}

.contact-phone h5 {
   font-size: 16px;
   color: #bab3a6;

}

input[type=text] {
   background: transparent;
   color: #cda45e;
   border: 1px solid #cda45e;
}

input[class=message2] {
   height: 30vh;
}

.contact-button {
   margin: 20px auto;
}

.contact-button a button {
   padding: 10px 25px;
   border: none;
   border-radius: 50px;
   color: #fff;
   background-color: #cda45e;
   cursor: pointer;
}

#footer {
   width: 100%;
   height: auto;
   background-color: #000000;
   border-bottom: 1px solid #cda45e;
   padding: 20px 90px;
}

.footer-content {
   padding-top: 40px;
   padding-bottom: 30px;
}

.footer-info1 {
   color: #fff;
}

.footer-icon a i {
   padding: 7px 7px;
   font-size: 20px;
   color: #fff;
   background-color: #212529;
   border-radius: 50%;
}

.footer-icon a i:hover {
   background-color: #cda45e;
}

.footer-info2 h4 {
   color: #fff;
   font-size: 16px;
   font-weight: 600;
}

.footer-info2 ul li {
   padding-top: 10px;
}

.footer-info2 ul li:hover {
   color: #cda45e;
}

.footer-info2 ul li a {
   margin-top: 10px;
   color: #fff;
}

.footer-info2 ul li a:hover {
   color: #cda45e;
}

.footer-info2 ul li i {
   color: #cda45e;
   margin-right: 5px;

}

.footer-info3 h4 {
   color: #fff;
   font-size: 16px;
   font-weight: 600;
}

.footer-info3 ul li {
   margin-top: 10px;

}

.footer-info3 ul li a {
   margin-top: 10px;
   color: #fff;
}

.footer-info3 ul li a:hover {
   color: #cda45e;
}

.footer-info3 ul li i {
   color: #cda45e;
   margin-right: 5px;

}

.footer-info4 h4 {
   color: #fff;
   font-size: 16px;
}

.footer-info4 p {
   color: #fff;
   font-size: 15px;
}

.form-box {
   display: flex;

   justify-content: end;
   border-radius: 5px;
   background: #ececec;
}

.form-box input {
   font-size: 14px;
   color: #000000;
   border: none;
   outline: none;
   background-color: #ececec;
}

.form-box button {
   padding: 5px 11px;
   background-color: chocolate;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

#footer-down {
   width: 100%;
   height: auto;
   background-color: #0e0b0a;

}

.copyright {
   color: #fff;
   text-align: center;
}

.design {
   color: #fff;
   text-align: center;
}

.design a {
   color: #cda45e;
}